@font-face {
	font-family: "QTV-B";
	src: url("../fonts/QTVagaRound-Bold.otf");
}
@font-face {
    font-family: "FredokaO";
    src: url("../fonts/FredokaOne-Regular.ttf");
}
@font-face {
    font-family: "FuturistBold";
    src: url("../fonts/futrstb.ttf");
}
@font-face {
    font-family: "Futurist";
    src: url("../fonts/futrfw.TTF");
}

.templateContentPosition {
    margin-top: 10px;
    position:relative;
    left: 50%;
    transform: translateX(-50%);
    text-align:center;
}
.templateGeneratorButtons {
    height: 25px;
    border: none;
    border-radius:25px;
}
.nextPageButton {
    background-color: darkgreen;
    color: white;
    width: 250px;
}