/* Base CSS */

:root {
	--blue: #88d1fb; /* Right */
	--red: #ffa6ca; /* Left */

    --greenScreen: #04F404;

    --mapInformationWidth: 1119px;
    --mapModIdentifierWidth: 126px;
    --mapInformationDetailsWidth: calc(508px);
    --mapInformationDetailsTextLeft: 43px;
    --mapInformationDetailWrapperWidth: calc(var(--mapInformationDetailsWidth) - var(--mapInformationDetailsTextLeft) * 2 + 19px);
}
#bgAni {
    width: 1920px; height: 1080px;
    position: absolute;
    display: none;
    left: 0; right: 0; top: 0; bottom: 0;
    z-index: -1;
}
#sceneViewPage {
    position: absolute; top: 0; left: 0;
    width: 1920px; height: 1080px;
    background-image: url("../static/gameplay.png")
}
#spectatorViewPage {
    position: absolute;
    width:1920px; height:720px;
    position:absolute;
    top:174px; left: 0;
    background-color: var(--greenScreen);
    transition: 500ms ease-in-out;
    z-index: 2;
}

/* Team Names */
.teamName {
    font-family: "QTV-B", Helvetica, sans-serif;
    font-size: 50px;
    position: absolute;
    top: 40px;
    color: white;
}
#teamRedName { left: 165px; }
#teamBlueName  { right: 165px; }

/* Team Icons */
.teamIcon {
    position: absolute;
    top: 45px;
    width: 90px; height: 90px;
    border: 3px double white;
    border-radius: 20px;
}
#teamRedIcon { left: 45px; }
#teamBlueIcon { right: 45px; }

/* Stars */
.star {
    width: 12px; height: 12px;
    position: absolute;
    border: 3px solid white;
    transform: rotate(45deg);
}
.starFill { background-color: white; transition: 0.5s ease-in-out; }
.teamStar { transition: 500ms ease-in-out; position: absolute; }
#teamRedStars { left: 102px; }
#teamBlueStars { right: 102px; }

/* Map Information */
#mapInformation {
    position: absolute; bottom: 0;
    width: var(--mapInformationWidth); height: 89px;
    transition: 500ms ease-in-out;
    font-family: FuturistBold;
    overflow: hidden;
    background-image: linear-gradient(to bottom right, rgba(0,0,0,0), #88d1fb05, gray);
    border-style: solid;
    border-width: 3px 3px 3px 0px;
    border-color: white;
}
/* Map Mod Identifier (NM1, HD2, etc.)*/
#mapModIdentifier {
    position: absolute;
    width: var(--mapModIdentifierWidth); height: inherit;
    text-align: center;
    line-height: 89px;
    font-size: 36px;
    background-color: darkgray;
    border-radius: 0 45px 45px 0;
    z-index: 2;
}
#mapModIdentifierCircle {
    position: absolute; top: -16px; left: 3px;
    width: 124px; height: 124px;
    z-index: 1;
    border-radius: 50%;
    background-color: darkgray;
}
/* Map Information Details */
#mapInformationDetails {
    position: absolute; left: calc(var(--mapModIdentifierWidth) - 19px); top: 0;
    width: var(--mapInformationDetailsWidth); height: inherit;
    z-index: 0;
}
#mapInformationDetailsLayer {
    position: absolute; top: 0; left: 0;
    width: inherit; height: inherit;
    background-color: rgba(0,0,0,0.5);
}
/* Map Information Detail Texts */
.mapInformationDetailWrapper {
    position: absolute; left: var(--mapInformationDetailsTextLeft);
    color: white;
    width: var(--mapInformationDetailWrapperWidth);
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}
#mapInformationTitleWrapper {
    top: 16px; 
    font-size: 30px;
    height: 37px;
}
#mapInformationDifficultyAndMapperWrapper {
    bottom: 16px;
    font-size: 20px;
    height: 25px;
}
.mapInformationDetailText {
    display:inline-block;
	width:max-content;
}
.mapInformationDetailTextWrap {
    animation: mapInformationDetailTextWrap 12s linear infinite;
}
@keyframes mapInformationDetailTextWrap {
    0% {transform: translate(0px);}
    11% {transform: translate(0px);}
    80% { transform: translate(calc(-100% + var(--mapInformationDetailWrapperWidth))); }
    100% { transform: translate(calc(-100% + var(--mapInformationDetailWrapperWidth))); }
}
/* Map Stats */
#mapStatsCS,
#mapStatsAR,
#mapStatsOD,
#mapStatsLen,
#mapStatsBPM,
#mapStatsSR {
    color: white;
    font-size: 28px;
}
.mapStatsLine { 
    color: white; 
    position: absolute; left: 641px;
    font-size: 20px;
    width: max-content;
}
#mapStatsCSAROD { bottom: 13px; }
#mapStatsLenBPMSR { bottom: 46px;  }
/* Map Information CSS Circles */
#mapInformationCircles {
    position: absolute;
    left: 1119px;
    bottom: 0;
}
.mapInformationBlankCircle {
    position: absolute; right: -3px;
    width: 32px; height: 32px;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    border-color: white transparent transparent transparent;
    background-color: rgb(12,12,12);
}
#mapInformationBlankCircle1 { 
    right: -3.3px; bottom: 57px;
    transform: translate(50%, -50%) rotate(-135deg);
}
#mapInformationBlankCircle2 { 
    bottom: 0; 
    transform: translate(50%, 50%) rotate(-45deg); 
}

/* Score Bar Section - Moving Score Bars*/
#movingScoreBars {
	position:absolute;
	width:1920px;
    top: 900px;
    height:20px;
    transition: 0.5s ease-in-out;
}
.movingScoreBar {
    position:absolute;
	width:960px; height:20px;
    max-width:50%;
    transition: width 0.07s;
}
#movingScoreBarRed {
	float: right;
	right: 50%;
	background-color: var(--red);
	color: var(--red);
}
#movingScoreBarBlue {
	left:50%;
	background-color: var(--blue);
	color: var(--blue);
}
#playScores {
    position:absolute;
	width:1920px;
    top: 930px;
    height:12px;
    transition: 0.5s ease-in-out;
}
.playScore {
	position: absolute;
    font-family: Futurist;
    transition: ease-in-out 500ms;
    font-size: 28px;
    color: white;
}
#playScoreRed { right: 965px; }
#playScoreBlue { left: 965px; }

/* Dance shake */
#danceShake {
    position: absolute; bottom: 20px; right: 40px;
    transition: ease-in-out 500ms;
}

/* Chat */
#chatDisplay {
    position: absolute;
    bottom: 0; right: 0;
    width: 590px; height: 174px;
    background-color: rgba(0,0,0,0.5);
    font-family: "FuturistBold"; font-size: 18px;
    letter-spacing: 0.5px;
    overflow-x: hidden; overflow-y: scroll;
	padding: 5px 12px;
    transition: ease-in-out 500ms;
}
.messageWrapper {
	display: flex;
	text-align: left;
}
.messageTime {
	width: 8%;
	color: silver;
	padding-right: 10px;
}
.wholeMessage {
	width: 92%;
	display: flex;
}
.messageUser {
	color: white;
	white-space: nowrap;
	width: max-content;
}
.messageText {
    color: white;
	white-space: normal;
	word-wrap: break-word;
	overflow: hidden;
}
/* Colours Taken From https://github.com/VictimCrasher/static/tree/master/WaveTournament */
.unknown { color: #66ff94; }
.bot { color: #FF66AA; }
.left { color: var(--red); }
.right { color: var(--blue); }


/* Scrollbar Related Things - Taken from https://github.com/VictimCrasher/static/tree/master/WaveTournament */
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track {
    margin-top: 25px;
    margin-bottom: 25px;
	visibility: 0;
}
::-webkit-scrollbar-thumb {
	background: rgba(0,0,0,0);
	border-radius: 10px;
}
.text{
    display: flex;
    justify-content: center;
}
